@import "./variables";

.sidebar {
  flex: 3;
  margin-left: 20px;
  margin-top: 20px;
  max-width: 280px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-top: 15px;
    height: auto;
    width: 80%;
  }

  p {
    padding: 30px 0;
    line-height: 1.4;
    width: 80%;
  }
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  text-transform: uppercase;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: $varela;
  font-size: 14px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebarList {
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
