@import './variables';

html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  background: transparent;
  outline: none;
  border: none;
}

@import './topBar';
@import './home';
@import './header';
@import './sidebar';
@import './posts';
@import './articlePage';
@import './write';
@import './settings';
@import './login';
