@import './variables';

.articlePage {
  display: flex;
  align-items: flex-start;
}

.article {
  flex: 9;
}

.articleWrapper {
  padding: 20px;
  width: 100%;
}

.articleImg {
  width: 100%;
  max-height: 420px;
  object-fit: cover;
}

.articleTitle {
  font-size: 28px;
  font-family: $lora;
  margin-top: 10px;
  text-align: center;
}

.articleEdit {
  float: right;
  font-size: 18px;
}
.articleIcon {
  margin-left: 10px;
  cursor: pointer;

  &:first-child {
    color: teal;
  }

  &:last-child {
    color: tomato;
  }
}

.articleInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #b39656;
  font-family: $varela;
}

.articleDesc {
  color: #666;
  font-size: 18;
  line-height: 25px;

  &::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
  }
}
