@import './variables';

.top {
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #444;
  z-index: 1100;
  box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.2);
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.topCenter {
  flex: 6;
}

.topList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 350;
  cursor: pointer;
}

.topIcon.search {
  font-size: 18px;
  color: #666;
  margin-left: 15px;
}
