html {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: black;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  background: transparent;
  outline: none;
  border: none;
}

.top {
  height: 50px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  color: #444;
  z-index: 1100;
  -webkit-box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.2);
}

.topLeft,
.topRight {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.topCenter {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.topList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 350;
  cursor: pointer;
  text-transform: uppercase;
}

.topIcon.search {
  font-size: 18px;
  color: #666;
  margin-left: 15px;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  margin-top: 60px;
}

.headerTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lora", sans-serif;
  color: #444;
}

.headerTitle {
  position: absolute;
  font-size: 20px;
  top: 90px;
}

.headerTitle.large {
  top: 110px;
  font-size: 100px;
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sidebar {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin-left: 20px;
  margin-top: 20px;
  max-width: 280px;
  padding-bottom: 30px;
  background-color: #fdfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebarItem {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebarItem img {
  margin-top: 15px;
  height: auto;
  width: 80%;
}

.sidebarItem p {
  padding: 30px 0;
  line-height: 1.4;
  width: 80%;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  text-transform: uppercase;
  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebarList {
  margin-bottom: 30px;
}

.sidebarListItem {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}

.sidebarSocial {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.posts {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.postCard {
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 15px 40px 15px;
  border: 1px solid #ccc;
  border-radius: 7px;
  overflow: hidden;
}

.postCard hr {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.postCardImg {
  width: 100%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.postCardInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.postCardCat {
  font-family: "Varela Round", sans-serif;
  font-size: 11px;
  color: #be9656;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postCardTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 8px;
  padding: 8px;
  cursor: pointer;
}

.postCardDate {
  font-family: "Lora", serif;
  font-style: 13px;
  color: #999;
  margin-top: 15px;
}

.postCardDesc {
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  color: #444;
  line-height: 24px;
  margin-top: 15px;
  padding: 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.articlePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
}

.articleWrapper {
  padding: 20px;
  width: 100%;
}

.articleImg {
  width: 100%;
  max-height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}

.articleTitle {
  font-size: 28px;
  font-family: "Lora", serif;
  margin-top: 10px;
  text-align: center;
}

.articleEdit {
  float: right;
  font-size: 18px;
}

.articleIcon {
  margin-left: 10px;
  cursor: pointer;
}

.articleIcon:first-child {
  color: teal;
}

.articleIcon:last-child {
  color: tomato;
}

.articleInfo {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  color: #b39656;
  font-family: "Varela Round", sans-serif;
}

.articleDesc {
  color: #666;
  font-size: 18;
  line-height: 25px;
}

.articleDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.write {
  padding-top: 50px;
  position: relative;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.writeFormGroup {
  margin-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  font-size: 20px;
  color: #444;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.writeInput {
  font-size: 30px;
  padding: 20px;
  width: 70vw;
}

.writeText {
  font-size: 20px;
}

.writeSubmit {
  margin-left: 150px;
  margin-top: 40px;
  color: white;
  background-color: teal;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settingsWrapper {
  -webkit-box-flex: 9;
      -ms-flex: 9;
          flex: 9;
  padding: 20px;
}

.settingsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.settingsDeleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingsForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settingsForm label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsForm input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border-bottom: 1px solid lightgray;
}

.settingsDP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.settingsDP img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}

.settingsDPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-left: 10px;
}

.settingsSubmit {
  width: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: teal;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 20px;
}

.login {
  position: relative;
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9)), url("../../Images/img-6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loginTitle {
  font-size: 50px;
  text-align: center;
}

.loginWrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  -webkit-box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.2);
}

.loginForm {
  width: 85%;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.loginForm label {
  margin-top: 20px;
}

.loginForm input {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.loginForm input:focus {
  border-color: #000;
}

.loginBtn {
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: lightcoral;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  width: 100%;
}

.loginBtn.reg {
  background-color: teal;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */